https://download.pytorch.org/whl/cpu/torch-1.9.0%2Bcpu-cp38-cp38-linux_x86_64.whl

fastapi==0.75.0
transformers==4.5.0  
onnx==1.11.0
onnxruntime==1.7.0
psutil==5.9.0
pydantic==1.8.2
fastt5
firebase-admin
keybert
keyphrase-vectorizers
sentence_transformers
sense2vec
gdown